table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 8px;
}

.caption{
    font-weight: 900;
    font-size: larger;
    margin: 10px;
}

.row-lunch{
    font-weight: 600;
}